body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #fe31e6;
}


.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.card h3 {
    margin: 12px 0 5px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background-color: #8B6B3E;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #6f5530;
}

